<div class="header">
    <ng-lottie *ngIf="showAnime" [options]="options" [styles]="styles">
    </ng-lottie>

    <div class="text">
        <h2>Hi.</h2>
        You are very close to complete your profile.
        <p>Just a few things you have to fill in and we are ready to go.</p>
    </div>
</div>
<!-- <div class="fill-in-container">
    <mat-form-field appearance="outline">
        <mat-label>Phone No.</mat-label>
        <input matInput placeholder="Enter Phone No." type="number" />
        <mat-icon matSuffix> contact_phone</mat-icon>
    </mat-form-field>
</div> -->

<mat-vertical-stepper linear #stepper [ngClass]="{'animate__animated animate__fadeOutLeft': addClass}">
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your basic details</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Phone No.</mat-label>
                <input matInput formControlName="phoneNo" placeholder="Enter Phone No." required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>dob</mat-label>
                <input matInput formControlName="dob" [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let g of genderList" [value]="g">{{g}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>address</mat-label>
                <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>city</mat-label>
                <input matInput formControlName="city" placeholder="Ex. city" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>country</mat-label>
                <input matInput formControlName="country" placeholder="Ex. India" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>pincode</mat-label>
                <input matInput formControlName="pincode" placeholder="Ex. 452xxxx" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>state</mat-label>
                <input matInput formControlName="state" placeholder="Ex. State" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>landmark</mat-label>
                <input matInput formControlName="landmark" placeholder="Landmark" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Are you sure you filled all the fields correctly?</p>
        <p>Click on Reset to start over again.</p>
        <p><strong>Or</strong></p>
        <p>Click on Submit to proceed.</p>
        <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="onSubmit()">Submit</button>
        </div>
    </mat-step>
</mat-vertical-stepper>

<button type="submit" (click)="onSubmit()">Submit</button>



<div *ngIf="addClass" class="profile-picture-box animate__animated animate__fadeInRight">
    <div class="dp"></div>
    <div class="profile-details">
        <h2>Joy Singh</h2>
        <p>avnishmamta060606@gmail.com</p>
    </div>

    <mat-divider></mat-divider>

    <div class="files-form">
        <div [formGroup]="fileFormGroup">
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>