.av-size{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

igx-avatar{
    background-color: #147EFB; 
    color: #fff;
}

mat-divider{
    margin-bottom: 10px;
}

mat-list-item p {
    margin: 0;
}

::ng-deep.mat-tab-header-pagination{
    box-shadow: none !important;
}

.review-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/* .profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} */