<igx-avatar class="av-size" src="{{data.profilePictureUrl}}" [initials]="getInitials(data.name)" [roundShape]="true"
    size="large">
</igx-avatar>

<h2 style="margin-bottom: 0; display: flex; align-items: center;" mat-dialog-title>
    {{data.name}}
    <mat-icon style="margin-left: 5px; color: #69f0ae;">verified_user</mat-icon>
</h2>
<h4 style="margin-bottom: 0;" class="mat-4 mat-caption">{{data.specializations}}</h4>

<!-- <div class="rating">
    <h4 style="margin-bottom: 0;">Rating : <strong>{{rating}}</strong></h4> -->
<star-rating [rating]="rating" [editable]="false" [starCount]="starCount" (ratingUpdated)="onRatingChanged($event)">
</star-rating>
<!-- </div> -->

<!-- <mat-divider></mat-divider> -->
<!-- <p class="mat-body">{{data.about}}</p> -->
<!-- <span></span> -->
<mat-dialog-content class="mat-typography">

    <mat-tab-group mat-align-tabs="start" style="max-height: 300px;">
        <mat-tab label="Details">
            <p style="padding: 20px 0 0 0;" class="mat-body">{{data.about}}</p>
            <h3 class="mat-h3 mat-caption"><strong>{{data.exprience}}+</strong> Years of experience.</h3>
            <mat-divider></mat-divider>
        </mat-tab>
        <mat-tab label="Contact">
            <!-- using igx -->
            <igx-list style="overflow: auto;" displayDensity="cosy">
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item>
                    <igx-icon igxListThumbnail>location_on</igx-icon>
                    <span igxListLineTitle>{{ data.address }}</span>
                    <!-- <span igxListLineSubTitle>{{ data. }}</span> -->
                </igx-list-item>

                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item>
                    <igx-icon igxListThumbnail>email</igx-icon>
                    <span igxListLineTitle>{{ data.email }}</span>
                    <!-- <span igxListLineSubTitle>{{ r.comment }}</span> -->
                </igx-list-item>

                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item>
                    <igx-icon igxListThumbnail>phone</igx-icon>
                    <span igxListLineTitle>+91 {{ data.phoneNo }}</span>
                    <!-- <span igxListLineSubTitle>{{ r.comment }}</span> -->
                </igx-list-item>
            </igx-list>
        </mat-tab>
        <mat-tab label="Reviews">
            <igx-list style="overflow: auto;" [displayDensity]="density">
                <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item *ngFor="let r of reviews;">
                    <igx-avatar igxListThumbnail [initials]="getInitials(r.user.name)" [src]="r.user.profilePictureUrl"
                        roundShape="true"></igx-avatar>
                    <span *ngIf="!breakpointFlag" igxListLineTitle>{{ r.user.name }}</span>
                    <span *ngIf="!breakpointFlag" igxListLineSubTitle>{{ r.comment }}</span>
                    <div *ngIf="!breakpointFlag" igxListAction>
                        <igx-icon *ngFor="let rating of arr; index as i" [id]="'star_'+i" igxListAction color="orange">
                            {{showIcon(i,r.rating)}}
                        </igx-icon>
                    </div>
                    <div *ngIf="breakpointFlag">
                        <div style="margin-left: 5px;" igxListLineTitle>{{ r.user.name }}</div>
                        <div style="margin-left: 5px;" igxListLineSubTitle>{{ r.comment }}</div>
                        <div igxListAction>
                            <igx-icon *ngFor="let rating of arr; index as i" [id]="'star_'+i" igxListAction
                                color="orange">
                                {{showIcon(i,r.rating)}}
                            </igx-icon>
                        </div>
                    </div>
                </igx-list-item>
            </igx-list>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [ngStyle]="{'color': !data.status ? '#f44336' : ''}" (click)="onBook()" [disabled]="!data.status"
        cdkFocusInitial>
        {{!data.status ? 'Currently not available' : 'Book Appointment'}}
    </button>
</mat-dialog-actions>