<!-- <div class="chart-container">
    <div class="flex">
        <div class="flex-item">
            <div style="display: block;">
                <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="flex-item">
            <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
            <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
            <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
            <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
        </div>
    </div>
</div> -->

<div class="card-container">
    <div class="card-main">
        <div class="card-icon">
            <mat-icon>medical_services</mat-icon>
        </div>

        <div class="card-content">
            <div class="card-content-title">OPD</div>
            <div style="color: #147EFB; font-size: 1.2rem; font-weight: 400; line-height: 1.42857143;">
                312
            </div>
        </div>
    </div>
    <div class="card-main">
        <div class="card-icon">
            <mat-icon>accessible</mat-icon>
            <!-- medical_services -->
        </div>

        <div class="card-content">
            <div class="card-content-title">Patients</div>
            <div style="color: #147EFB; font-size: 1.2rem; font-weight: 400; line-height: 1.42857143;">
                104
            </div>
        </div>
    </div>
    <div class="card-main">
        <div class="card-icon">
            <mat-icon>add</mat-icon>
        </div>

        <div class="card-content">
            <div class="card-content-title">Doctors</div>
            <div style="color: #147EFB; font-size: 1.2rem; font-weight: 400; line-height: 1.42857143;">
                104
            </div>
        </div>
    </div>
    <div class="card-main">
        <div class="card-icon">
            <mat-icon>accessible</mat-icon>
        </div>

        <div class="card-content">
            <div class="card-content-title">Today</div>
            <div style="color: #147EFB; font-size: 1.2rem; font-weight: 400; line-height: 1.42857143;">
                104
            </div>
        </div>
    </div>
</div>

<!-- <div class="content-main-container">

</div> -->