<div class="login-container">
    <div class="login-img">
        <img width="180" height="150px" src="../../../assets/login_icon.png" alt="">
        <div class="login-text">Forgot Password?</div>
        <div class="pass-forget-text">{{sentText}}</div>
        <div class="pass-forget-text">{{forgetPassText}}</div>
        <div *ngIf="animationLoad">
            <ng-lottie width="600px" height="500px" [styles]="styles" containerClass="moving-box another-class"
                width="200px" height="100px" [options]="options" (animationCreated)="animationCreated($event)">
            </ng-lottie>
        </div>
    </div>

    <form novalidate [formGroup]="resetEmail">
        <div class="input-container" *ngIf="!loadReset">
            <div class="forget-form-container">
                <mat-form-field class="example-full-width" appearance="outline">
                    <span matPrefix class="material-icons">
                        email
                    </span>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" id="email" name="email" required
                        placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="formErrors.email">
                        {{formErrors.email}}
                    </mat-error>
                    <mat-error *ngIf="resetEmail.controls.email.pristine">
                        Email is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <button (click)="onResetPassword()" [class.add-pad]="loadReset" class="reset-btn" mat-button
                id="reset-sub-btn" type="submit">
                <mat-spinner *ngIf="loadReset" strokeWidth="4" [diameter]="20"></mat-spinner>
                {{!loadReset ? btnText : ''}}
            </button>

            <div class="dont-have">Dont have an account?</div>
            <div class="text-sign pointer dont-have" (click)="toSignUp()">Register</div>
        </div>
    </form>
</div>